<%= form_for @user, url: register_user_path do |f| %>
  <div class="row">
    <div class="col-sm-6 right-padding">
      <%= f.text_field :firstname, class: 'half-input first', placeholder: 'Firstname' %>
    </div>
    <div class="col-sm-6 left-padding">
      <%= f.text_field :lastname, class: 'half-input', placeholder: 'Lastname' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.email_field :email, placeholder: 'Email' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= f.text_field :website_url, placeholder: 'Your website URL' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= f.check_box :terms %>
      <%= f.label :terms, "I agree to TermsCloud\'s #{link_to 'Terms of Use', '' }".html_safe %>
    </div>
  </div>

  <%= f.submit 'Get Started' %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

