<section class="row contact-page">
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <h1 class="title-header">Get in contact</h1>
  <%= form_for :contact_form do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.email_field :email, placeholder: 'Email' %>
    <%= f.text_area :contact_body, placeholder: 'Write your message here...', rows: 10 %>
    <%= f.submit 'Send Message' %>
  <% end %>


</div>
</section>

