<section class="row contact-page">
<div class="col-sm-8 col-sm-offset-2">
  <h1 class="title-header text-center">Please drop us a line anytime.</h1>
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag 'contact.png', style: 'display: block; margin: 0 auto' %>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <%= form_for :contact_form do |f| %>
        <%= f.text_field :name, placeholder: 'Name' %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.text_area :contact_body, placeholder: 'Write your message here...', rows: 10 %>
        <%= f.submit 'Send Message' %>
      <% end %>
    </div>
  </div>
</div>
</section>

