<section class="row homepage-call-to-action" >
<div class="col-md-6 col-md-offset-1">
  <h1>Take care of your website legals. For ever.</h1>
  <p>TermsCloud helps you create bespoke website terms of use and legal policies in minutes and maintain them automatically as the law changes.<p>
</div>
<div class="col-md-4">
  <%= form_for @user do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.text_field :firstname, class: '', placeholder: 'Firstname' %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :lastname, class: '', placeholder: 'Lastname' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.email_field :email, placeholder: 'Email' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.url_field :website_url, placeholder: 'Your website URL' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.check_box :terms %>
        <%= f.label :terms, 'I agree to TermsCloud\'s terms of use' %>
      </div>
    </div>

    <%= f.submit 'Get Started' %>
  <% end %>
</div>

</section>
<section class="row">
  <div class="col-sm-12">
    <p class="text-center">How it works</p>
  </div>

</section>
