<section class="row homepage-call-to-action" >
<div class="col-md-6 col-md-offset-1">
  <h1 class="title-header">Take care of your website legals. For ever.</h1>
  <p>TermsCloud helps you create bespoke website terms of use and legal policies in minutes and maintain them automatically as the law changes.<p>
</div>
<div class="col-md-4">
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @user, url: homepage_register_user_path do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.text_field :firstname, class: '', placeholder: 'Firstname' %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :lastname, class: '', placeholder: 'Lastname' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.email_field :email, placeholder: 'Email' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.url_field :website_url, placeholder: 'Your website URL' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= f.check_box :terms %>
        <%= f.label :terms, 'I agree to TermsCloud\'s terms of use' %>
      </div>
    </div>

    <%= f.submit 'Get Started' %>
  <% end %>
</div>
</section>

<section class="row homepage-site-explanation">
  <div class="col-sm-12">
    <header class="text-center">
      <p>How it works</p>
    </header>
  </div>
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag 'comment_edit.png' %>
        <p class="text-center">1.</br>You answer a few simple questions</br>about your business.<p>
      </div>
      <div class="col-sm-4">
        <%= image_tag 'file_download.png' %>
        <p class="text-center">2.</br>We create a legal document, which can be</br> embedded in your website with a few</br> lines of code.<p>
      </div>
      <div class="col-sm-4">
        <%= image_tag 'arrow_refresh.png' %>
        <p class="text-center">3.</br>We store the document in the</br>cloud and update it when the law</br>changes.<p>
      </div>
    </div>
  </div>
</section>
