<footer class="row common-footer">
<div class="col-sm-12 ">
  <ul class="social-icons">
    <li>
      <%= link_to '' do %>
        <%= image_tag 'icons/facebook.png' %>
      <% end %>
    </li>
    <li>
      <%= link_to 'https://twitter.com/TermsCloudUK' do %>
        <%= image_tag 'icons/twitter.png' %>
      <% end %>
    </li>
    <li>
      <%= link_to '' do %>
        <%= image_tag 'icons/linkedin.png' %>
      <% end %>
    </li>
  </ul>
  <p class="hidden-xs">&copy; TermsCloud 2015 | <%= link_to 'Terms of Use', '' %> | <%= link_to 'Privacy Policy', '' %></p>
  <p class="visible-xs">&copy; TermsCloud 2015 </br> <%= link_to 'Terms of Use', '' %> | <%= link_to 'Privacy Policy', '' %></p>
</div>
</footer>
