<header class="header-navbar row">
<div class="col-xs-6">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', class: 'brand-logo', width: 200, height: 75 %>
  <% end %>
</div>
<div class="col-xs-6">
  <nav class="title-nav">
    <ul>
      <% if signed_in? %>
        <li><%= link_to 'Admin', admin_root_path %>
      <% end %>
    </ul>
  </nav>
</div>
</header>
<div class="col-sm-6 col-sm-offset-3">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> flash-alert"><%= value %></div>
  <% end %>
</div>

