<header class="header-navbar row">
<div class="col-sm-6">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', class: 'brand-logo', width: 200, height: 75 %>
  <% end %>
</div>
<div class="col-sm-6">
  <nav class="title-nav">
    <ul>
      <li><%= link_to 'Blog', '' %></li>
      <li><%= link_to 'Contact', '' %></li>
      <li><%= link_to 'Sign In', '' %></li>
      <li><%= link_to 'Get Started', homepage_get_started_path %></li>
    </ul>
  </nav>
</div>
</header>
